{% extends "layout.html" %}

{% block content %}
<div class="content">
    <div class="text-block">
        <h2>About Me</h2>
      <p>
          I'm Srimanta Behera, a B.Tech student in Computer Science and Engineering at GIET University. I have a strong foundation in C, Java, Python. I also have hands-on experience with Flask for web development.I'm passionate about software development, problem-solving, and using technology to bring ideas to life.
      </p>
    </div>
</div>
<div class="content">
<div class="text-block">
      <h2>Education</h2>
      <ul>
        <li><strong>B.Tech in Computer Science and Engineering</strong><br>
            GIET University, Gunupur<br>
            2023 - Present</li>
        <li><strong>Class 12th (CBSE Board)</strong><br>
            Odisha Adarsha Vidyalaya,Hinjili Cut <br>
            2023</li>
        <li><strong>Class 10th (CBSE Board)</strong><br>
            DAV Public School,Bramhapur<br>
            2021</li>
      </ul>
</div>
</div>
<div class="content">
<div class="text-block">
      <h2>Achievements</h2>
      <ul>
        <li>Created and launched my own personal website using Flask (a Python framework).</li>
        <li>Completed an internship where I learned the basics of Machine Learning through a certified course on Unified Mentor.</li>
        <li>Showcased my project during the GIET University Tech Fest in 2024.</li>
      </ul>
</div>
</div>
{% endblock content %}

